body{
 background-color:rgb(126, 163, 223);;
}#contenedor{
    margin-top: 100px;
    padding: 10px;
    text-align: center;

}
#img{
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#horas,#vhora{
      border-radius: 20px;
    background-color: aqua;
    text-align: center;
}
#horas:hover,#vhora:hover{
    background-color: rgb(151, 212, 212)a;
    border-radius: 20px;
    text-align: center;
    
    
}
#btnResultado{
    border-radius: 20px;
    background-color: aqua;
    
}
#btnResultado:hover{
    background-color: rgb(197, 125, 31);
     border-radius: 20px;
}
